$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "custom-variables";
@import "bootstrap-variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "mixins";

@import "footer";
@import "header";
@import "layout";
@import "navbar";
@import "widgets";

@import "sections";

.btn, .navbar {
  font-family: $font-family-sans-serif;
}

h2, h3, p {
  margin-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding: 20px;
  color: $text-muted;
  font-size: small;
}
